@model SafetyAdvisor.Models.EvaluationItem
<form method="post" enctype="multipart/form-data" action="/backload/uploadhandler" role="form" class="form-horizontal">
    @Html.Hidden("objectContext", @Model.Id)
    <div class="row">
        <div class="col-lg-12">
            <div id="dropzone" class="well">
                <div class="form-group">
                    <label class="control-label col-md-2"><i class="fa fa-plus-circle"></i>&nbsp;Add files</label>
                    <div class="col-md-10">
                        <input style="display:inline;" type="file" id="fileupload" name="fileupload" multiple="multiple" /> ...or just drag and drop them over here
                    </div>
                </div>
                <div class="progress hide">
                    <div class="progress-bar" role="progressbar" id="overallbar" style="width: 0%"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>File name</th>
                    <th class="text-center">File size (bytes)</th>
                    <th class="text-center">Options</th>
                </tr>
            </thead>
            <tbody id="filerows"></tbody>
        </table>
        <script id="template-download" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr>
                <td>

                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}"><i class="fa fa-file-text"></i>&nbsp;&nbsp;{%=file.name%}</a>

                    {% if (file.error) { %}
                    <div><span class="label label-important">Error</span> {%=file.error%}</div>
                    {% } %}
                </td>
                <td class="text-center">
                    {%=file.size%}
                </td>
                <td class="text-center">
                        <a title="Delete" href="#" onclick="deleteFile('{%=file.delete_url%}'); return false;"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            {% } %}
        </script>
    </div>
</div>


