@{
    ViewBag.Title = "Safety-Risk Map";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#vorgehen" data-toggle="tab">Methodisches Vorgehen</a></li>
                <li><a href="#szenarien" data-toggle="tab">Bedrohungsszenarien</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="vorgehen">
                    <p>Zur Identifikation und Bewertung von Bedrohungsszenarien der MVK werden vier methodische Schritte kombiniert (siehe Abbildung 6):</p>

                </div>
                <div class="tab-pane fade" id="szenarien">
                    <p>
                        Die folgenden Bedrohungsszenarien (Tabelle 1) wurden in SafeMed entwickelt um beispielhaft Störungen der Versorgungsfunktion der Medikamentenversorgungskette darzustellen und auf Basis dessen adäquate Gegenmaßnahmen (Safety-Concepts) zu entwerfen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


