@{
    ViewBag.Title = "Safety-Risk Map";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#vorgehen" data-toggle="tab">Methodisches Vorgehen</a></li>
                <li><a href="#szenarien" data-toggle="tab">Bedrohungsszenarien</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="vorgehen">
                    <p>Zur Identifikation und Bewertung von Bedrohungsszenarien der MVK werden vier methodische Schritte kombiniert (siehe Abbildung unten):</p>
                    <ol>
                        <li>Eine Aufnahme der Ist-Situation der Prozesse innerhalb der Unternehmen und zwischen den Akteuren der MVK zur Ableitung der wesentlichen Einflussfaktoren (sog. Deskriptoren) der Versorgungsfunktion.</li>
                        <li>Eine Cross-Impact Bilanzanalyse (CIB) zur Erstellung konsistenter Szenarien.</li>
                        <li>Die Identifikation grundlegender Trends, welche die MVK, die pharmazeutische Industrie und die Gesundheitsversorgung im Ganzen beeinflussen.</li>
                        <li>Ein Gruppen-Delphi zur Abschätzung der Bewertung der externen Bedrohungen hinsichtlich Eintrittswahrscheinlichkeiten und Schadensausmaß.</li>
                    </ol>
                    <hr />
                    <div class="text-center">
                        <img src="/content/images/abb4.png" alt="Methodische Schritte zur Identifikation von Bedrohungsszenarien der Medikamentenversorgungskette" />
                        <h4>Methodische Schritte zur Identifikation von Bedrohungsszenarien der Medikamentenversorgungskette</h4>
                    </div>
                    <hr />
                    <p>Die Ergebnisse der vier methodischen Schritte werden anschließend zu einer detaillierten Beschreibung möglicher Bedrohungsszenarien genutzt. Den Abschluss bildet eine Überprüfung der Plausibilität der Bedrohungsszenarien durch das Projektkonsortium.</p>
                    <p>
                        Weitere Details zu den methodischen Schritten zur Erstellung der Bedrohungsszenarien in SafeMed erhalten Sie über das IPRI Praxis Paper Nr.2: <strong>Aschenbrücker, A.; Löscher, M. (2013)</strong>, "Szenario-gestützte Identifikation von externer Bedrohungspotenzialen in der Medikamentenversorgungskette", IPRI-Praxis Nr. 2, Stuttgart. Siehe <a href="http://www.ipri-institute.com/index.php/wissen-verbreiten/ipri-praxis">http://www.ipri-institute.com/index.php/wissen-verbreiten/ipri-praxis</a>
                    </p>
                </div>
                <div class="tab-pane fade" id="szenarien">
                    <p>
                        Die folgenden Bedrohungsszenarien (Tabelle 1) wurden in SafeMed entwickelt um beispielhaft Störungen der Versorgungsfunktion der Medikamentenversorgungskette darzustellen und auf Basis dessen adäquate Gegenmaßnahmen (Safety-Concepts) zu entwerfen.
                    </p>
                    <hr />
                    <h4>Tabelle 1: Die neun beispielhaften Bedrohungsszenarien in SafeMed</h4>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>


