@{
    ViewBag.Title = "Safety-Risk Map";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#vorgehen" data-toggle="tab">Methodisches Vorgehen</a></li>
                <li><a href="#szenarien" data-toggle="tab">Bedrohungsszenarien</a></li>
                <li><a href="#auswirkungen" data-toggle="tab">Auswirkungen auf die Prozesse der MVK</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="vorgehen">
                    <p>Zur Identifikation und Bewertung von Bedrohungsszenarien der MVK werden vier methodische Schritte kombiniert (siehe Abbildung unten):</p>
                    <ol>
                        <li>Eine Aufnahme der Ist-Situation der Prozesse innerhalb der Unternehmen und zwischen den Akteuren der MVK zur Ableitung der wesentlichen Einflussfaktoren (sog. Deskriptoren) der Versorgungsfunktion.</li>
                        <li>Eine Cross-Impact Bilanzanalyse (CIB) zur Erstellung konsistenter Szenarien.</li>
                        <li>Die Identifikation grundlegender Trends, welche die MVK, die pharmazeutische Industrie und die Gesundheitsversorgung im Ganzen beeinflussen.</li>
                        <li>Ein Gruppen-Delphi zur Abschätzung der Bewertung der externen Bedrohungen hinsichtlich Eintrittswahrscheinlichkeiten und Schadensausmaß.</li>
                    </ol>
                    <hr />
                    <div class="text-center">
                        <img src="/content/images/abb4.png" alt="Methodische Schritte zur Identifikation von Bedrohungsszenarien der Medikamentenversorgungskette" />
                        <h4>Methodische Schritte zur Identifikation von Bedrohungsszenarien der Medikamentenversorgungskette</h4>
                    </div>
                    <hr />
                    <p>Die Ergebnisse der vier methodischen Schritte werden anschließend zu einer detaillierten Beschreibung möglicher Bedrohungsszenarien genutzt. Den Abschluss bildet eine Überprüfung der Plausibilität der Bedrohungsszenarien durch das Projektkonsortium.</p>
                    <p>
                        Weitere Details zu den methodischen Schritten zur Erstellung der Bedrohungsszenarien in SafeMed erhalten Sie über das IPRI Praxis Paper Nr.2: <strong>Aschenbrücker, A.; Löscher, M. (2013)</strong>, "Szenario-gestützte Identifikation von externer Bedrohungspotenzialen in der Medikamentenversorgungskette", IPRI-Praxis Nr. 2, Stuttgart. Siehe <a href="http://www.ipri-institute.com/index.php/wissen-verbreiten/ipri-praxis">http://www.ipri-institute.com/index.php/wissen-verbreiten/ipri-praxis</a>
                    </p>
                </div>
                <div class="tab-pane fade" id="szenarien">
                    <p>
                        Die folgenden Bedrohungsszenarien (Tabelle 1) wurden in SafeMed entwickelt um beispielhaft Störungen der Versorgungsfunktion der Medikamentenversorgungskette darzustellen und auf Basis dessen adäquate Gegenmaßnahmen (Safety-Concepts) zu entwerfen.
                    </p>
                    <hr />
                    <div class="text-center"><h5>Tabelle 1: Die neun beispielhaften Bedrohungsszenarien in SafeMed</h5></div>
                    <table class="table table-bordered">
                        <tr class="danger">
                            <td><h4><small>Szenario 1.</small> Produktionsausfälle patentgeschützter Medikamente <strong>durch Fehlen / Knappheit exklusiver Wirkstoffe</strong></h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Gesetzliche Rahmenbedingungen führen zu mangelhafter Wirkstoffverfügbarkeit</strong></p>
                                <p>Instabilitäten bei den gesetzlichen Rahmenbedingungen führen zu einem Ausfall der Verfügbarkeit exklusiver Wirkstoffe. Aufgrund dieser Störungen in der Supply Chain ist die Aufrechterhaltung der Versorgung mit den betroffenen Medikamenten nicht möglich; wenn dies auch nur punktuell, wenige Präparate betrifft. Instabilitäten der gesetzlichen Rahmenbedingungen sind für dieses Szenario wesentliche Ursache des Verfügbarkeit-Problems.</p>
                                <p>(Anm: Eine mögliche Ursache für Instabilität im Öffentlichen Sektor wären unerwartete Gesetzesänderung auf internationaler Ebene, die im Sinne der globalen Supply Chain Auswirkungen auf Produktion oder Distribution haben können. Ein anderes Beispiel wären Auswirkungen aus der anstehenden EU-weiten Revision der Good Distribution Practice (GDP)).</p>
                                <p><strong>Politische Rahmenbedingungen verursachen Störungen der Grundversorgung mit betrieblichen Ressourcen (außer Faktor Arbeit)</strong></p>
                                <p>Durch den Ausfall betrieblicher Ressourcen, z.B. durch Probleme bei Energieimporten wegen Veränderungen der politischen Rahmenbedingungen, kommt es zu einer weiteren Beeinträchtigung der Arzneimittel-Produktion.</p>
                                <p><strong>Ausfall der Arzneimittel-Produktion</strong></p>
                                <p>Durch kombinierten Ausfall der Wirkstofflieferungen und der betrieblichen Ressourcen  kommt es zu erheblichen Störungen bei der Produktion von exklusiven, patentgeschützten Medikamenten. Dies führt zu einem Ausfall / einer Verknappung der Medikamentenverfügbarkeit, die sich bis auf die Ebene der Medikamentenabgabe an die Bevölkerung auswirkt.</p>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td><h4><small>Szenario 2.</small> Drastische Einschränkung der Produktion patentgeschützter Medikamente durch<strong> schwerwiegende Naturereignisse</strong></h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Wetter-/Naturbedingte Einflüsse führen zu Beeinträchtigung der Arzneimittel-Produktion</strong></p>
                                <p>Schwerwiegende Wetterereignisse oder Naturkatastrophen haben zu erheblichen Störungen in der Supply Chain und der Produktion v.a. von patentgeschützten Medikamenten geführt. In Verbindung mit weiteren wetter- oder naturbedingten Störungen ist die Distribution an die Endverbraucher stark beeinträchtigt.</p>
                                <p>(Anm: Es kommt zwar nicht zu einem Totalausfall von Komponenten in der Supply Chain, wie in den Szenarien 1 und 2, aber aufgrund bestehender Herstellerexklusivität zumindest zur Verknappung. Gründe wären das längere Andauern von gravierenden Naturereignissen, die die Produktion der exklusiven Stoffe oder deren bedarfsgerechten Transport stoppen oder deutlich behindern. Ein Beispiel dafür können geographische Großereignisse, wie Vulkanausbrüche oder Überflutungen sein.)</p>
                                <p><strong>Wetter-/Naturbedingte Einflüsse führen zu Beeinträchtigung Arzneimittel-/Wirk- und Hilfsstoff-Transport</strong></p>
                                <p>Störungen in der lokalen oder überregionalen Verteilung von Arzneimitteln an die Konsumenten verschärfen die zumindest für bestimmte einzelne Medikamente bereits angespannte Versorgungslage noch zusätzlich. Diese naturbedingten Verwerfungen in der Versorgung betreffen nicht nur den Bereich Arzneimittel sondern auch andere Güter. Dadurch dringt der Mangel rascher ins öffentliche Bewusstsein und das Vertrauen in die medizinische Versorgungssicherheit wird erkennbar geschmälert, auch wenn noch keine Verhaltensänderungen und Nachfragesprünge zu verzeichnen sind.</p>
                                <p>(Anm: Hier stehen Wetterereignisse im Vordergrund. Lokale Ereignisse, wie Überschwemmungen oder andere, die Fahrzeug-gebundene Transportinfrastruktur beeinträchtigende Katastrophen entwickeln schon nach kurzer Zeit erhebliche Auswirkungen auf den regionalen Versorgungsraum, die durch Verlagerung von Transportwegen ggf. nicht wirksam ausgeglichen werden können. Ereignisse im Ausland sind im Bezug auf den Transport zum Verbraucher eher von geringerer Relevanz.)</p>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td><h4><small>Szenario 3.</small> Zusammenbruch der MVK durch <strong>unerwartete Epidemie</strong> und schwere Wetterereignisse</h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Bedarf nach Medikamenten</strong></p>
                                <p>Eine unerwartete epidemische Ausbreitung einer Infektionskrankheit führt zu einem sprunghaften Anstieg des Bedarfs an (Anti-Infektiva und) Impfstoffen. Dem massiven Nachfrageanstieg sind die einfach mobilisierbaren Reserven in der MVK nicht gewachsen. Es kommt zu einer beginnenden Verknappung und ersten Versorgungsausfällen.</p>
                                <p>(Anm: Typische Gründe wären unerwartete Veränderungen im Erregerprofil der saisonalen Grippe mit höherer Virulenz und Morbidität / Mortalität oder neuartige Erreger, für die ggf nur begrenzt Impstoffe einzelner oder weniger Exklusivanbieter zur Verfügung stehen, Beispiel „Schweinegrippe“.)</p>
                                <p><strong>Arzneimittel-Produktion durch fehlende Zusatzstoffe beeinträchtigt</strong></p>
                                <p>Dem Nachfrageanstieg steht zusätzlich eine Einschränkung der Produktion des gefragten Impfstoffes bei einem oder wenigen exklusiven Arzneimittelherstellern gegenüber. Sie können sowohl patentgeschützte Präparate betreffen, als auch Generika. Auslösende Faktoren der Produktionsrückstände sind der Mangel an notwendigen, exklusiven Inhalts- und Zusatzstoffen.</p>
                                <p><strong>Wetter-/Naturbedingte Einflüsse beeinträchtigen Arzneimitteltransport</strong></p>
                                <p>Zusätzlich erschwerend wirken in einigen Regionen lokale Schlechtwetterepisoden auf die Transportkette zu den Handelsstufen und zum Endverbraucher ein. Dadurch kommt es zu Verteilungsdefiziten, die die dringende und zeitgerechte Versorgung der Bevölkerung mit Impfstoffen (oder Anti-Infektiva) unmöglich machen.</p>
                                <p>(Anm: Dabei kann es sich um schwerwiegende Natur- oder Wetterereignisse verschiedener Art handeln, z.B. Verkehrs- und Versorgungsbehinderungen durch massive Wintereinbrüche.)</p>
                                <p><strong>Vertrauen in die Versorgungsfunktion der Pharma Supply Chain</strong></p>
                                <p>Aufgrund der akuten Bedrohungslage durch die Infektionsepidemie sind die vorhandenen Reserven an Präparaten jedoch bald angegriffen. Dies wird in der Öffentlichkeit rasch bemerkt und führt zu zusätzlichen Nachfrageanstieg durch Vertrauensverlust in die Zuverlässigkeit der Versorgung. Die wetterbedingten Unregelmäßigkeiten in der MVK erschweren die Abarbeitung geordneter Impfpläne nach Prioritäten.</p>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td><h4><small>Szenario 4.</small>Unterproduktion durch <strong>Verknappung</strong> eines speziellen <strong>Naturrohstoffs</strong> auf Grund <strong>geopolitischer Verwerfungen</strong></h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Bedarf nach Medikamenten steigt sprunghaft an</strong></p>
                                <p>Eine unerwartete epidemische Ausbreitung einer Infektionskrankheit führt zu einem sprunghaften Anstieg des Bedarfs an Anti-Infektiva (und / oder Impfstoffen). Dem massiven Nachfrageanstieg sind die einfach mobilisierbaren Reserven in der MVK nicht gewachsen. Es kommt zu einer beginnenden Verknappung und ersten Versorgungsausfällen.</p>
                                <p>(Anm: Typische Gründe wären saisonale Bedarfssprünge, z.B. bei jahreszeitlicher Häufung bestimmter Infektionskrankheiten).</p>
                                <p><strong>Ungünstige politische Rahmenbedingungen führen zu fehlenden Wirk- und Hilfsstoffen zur Produktion von Arzneimitteln</strong></p>
                                <p>Ein spezieller Arzneimittelrohstoff wird fast ausschließlich in einer geographischen Region gewonnen, die eine geringere politisch-ökonomische Stabilität aufweist, als in europäischen Staaten. Geopolitische oder wirtschaftliche Veränderungen führen zu einer kurzfristigen Veränderung der Importmöglichkeiten für einen exklusiven europäischen Hersteller.</p>
                                <p>(Anm: Für eine Reihe innovativer Wirkstoffe werden pflanzliche oder tierische Rohstoffe benötigt, die nur in einzelnen geographischen Regionen gewonnen werden können. Wenn diese aus Ländern mit geringerer politischer oder wirtschaftlicher Stabilität kommen, können auch kurzfristig Lieferengpässe auftreten, die ggf. nur schwer überbrückbar sind).</p>
                                <p>Die Einschränkung der Produktion des betreffenden Medikamentes betrifft in diesem Szenario patentgeschützte Präparate. Auslösende Faktoren der Produktionsrückstände sind der Mangel an notwendigen, exklusiven Wirk- und Hilfsstoffen.</p>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td><h4><small>Szenario 5.</small>Unterproduktion durch <strong>Verknappung eines Wirkstoffs</strong> infolge krankheitsbedingtem <strong>Personalausfalls</strong></h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Wirkstoffe und Hilfsstoffe zur Produktion von Arzneimitteln aufgrund von Personalmangel</strong></p>
                                <p>Ein spezieller Wirkstoffstoff, der von einem oder wenigen Herstellern gefertigt wird fällt aus. Ursache ist, dass benötigtes Fachpersonal infolge einer Epidemie in großer Zahl und anhaltend erkrankt ist. Die längere gleichzeitige Arbeitsunfähigkeit vieler Mitarbeiter erlaubt es dem Unternehmen über mehrere Wochen hin nicht, den erforderlichen Produktionsablauf zu gewährleisten</p>
                                <p>(Anm: Ursache der Erkrankungswelle können eine Grippe-Epidemie oder eine andere Infektionskrankheit mit epidemischem Verlauf sein).</p>
                                <p><strong>Arzneimittel-Produktion</strong></p>
                                <p>Die Einschränkung der Produktion des betreffenden Medikamentes betrifft in diesem Szenario patentgeschützte Präparate. Auslösende Faktoren der Produktionsrückstände sind der Mangel an dem von einem einzelnen Produzenten exklusiv hergestellten Wirkstoff. Es können daher prinzipiell auch mehrere Arzneimittelhersteller betroffen sein, die den gleichen Wirkstoff zu einem Medikament verarbeiten.</p>
                                <p><strong>Bedarf nach Medikamenten</strong></p>
                                <p>Die grassierende Infektionsepidemie führt zugleich zu einem zu einem sprunghaften Anstieg des Bedarfs an Anti-Infektiva (und / oder Impfstoffen). Dem massiven Nachfrageanstieg sind die einfach mobilisierbaren Reserven in der MVK nicht gewachsen. Es kommt zu einer beginnenden Verknappung und ersten Versorgungsausfällen. Falls der Wirkstoff, des vom hohen Krankenstand seiner Mitarbeiter betroffene Herstellers zur Behandlung eben dieser Infektionskrankheit dient, ergibt sich ein Selbstverstärkungseffekt.</p>
                                <p>(Anm: Typische Gründe wären saisonale Bedarfssprünge, z.B. bei jahreszeitlicher Häufung bestimmter Infektionskrankheiten).</p>
                                <p><strong>Vertrauensverlust in die Versorgungsfunktion</strong></p>
                                <p>Aufgrund der akuten Bedarfslage durch die Infektionskrankheit, die ggf. neben einem objektiven Mangel auch von einem wahrgenommenen Mangel (Vertrauensverlust in die Versorgungssicherheit) verstärkt wird, kommt es zu einer Unterversorgung der Patienten.</p>
                                <p>Diese kann in Varianten des Szenarios noch durch Störungen in der lokalen Transportkette der Medikamente zu den Abgabestellen, Krankenhäusern und Apotheken verstärkt werden.</p>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td><h4><small>Szenario 6.</small>Versorgungsprobleme durch kurzfristige <strong>regionale Streiks der Apotheker</strong> in Verbindung mit wetterbedingten Transporteinschränkungen</h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Gesetzliche Rahmenbedingungen</strong></p>
                                <p>Als Reaktion auf die öffentlichen Budgetkrisen der vergangenen Jahre versuchen zahlreiche Regierungen in Europa die Kosten der Gesundheitsversorgung weiter zu senken. Wie immer wird dabei auch vehement ein Beitrag durch Senkung der Arzneimittelkosten gefordert.</p>
                                <p>Eine Reihe von EU-Ländern hatte daraufhin die Apothekenaufschläge einer Revision unterzogen und massive Kürzungen angekündigt. Dies war von den Verbänden der Apotheker so nicht erwartet worden. Außerdem war es zu einer Abstimmung der Vorgehensweise verschiedener EU-Regierungen gekommen, so daß eine Reihe mitteleuropäischer Länder in ähnlicher Form betroffen waren.</p>
                                <p><strong>Personal als betriebliche Ressource (Anzahl und Qualität)</strong></p>
                                <p>Aufgrund von Streiks bei den Apothekern kommt es zu einer Funktionsstörung bei der Medikamentenabgabe an die Patienten.</p>
                                <p>(Anm: Apotheker-„Streiks“ kommen in verschiedenen Ländern immer wieder vor, auch in Deutschland. Sie sind normalerweise von kurzer Dauer und werden i.d.R. auch nicht flächendeckend geführt. Dennoch ist ein „konsequenteres“ Vorgehen im Medikamenten-Einzelhandel mit größeren Schäden für die MVK künftig nicht auszuschließen.)</p>
                                <p><strong>Arzneimittel-/Wirk- und Hilfsstoff-Transport</strong></p>
                                <p>Zwar werden Notdienst-Apotheken eingerichtet, aufgrund von wetterbedingten Störungen in der lokalen Transportkette sind bei diesen aber eine ganze Reihe von Medikamenten nicht verfügbar.</p>
                                <p><strong>Medikamentenabgabe an den Patienten</strong></p>
                                <p>Chronisch auf Medikamenteneinnahme angewiesene Patienten oder auch das gehäufte Auftreten von saisonalen Erkrankungen mit Bedarfserhöhungen bestimmter Medikamente können zu zumindest lokalen Versorgungsengpässen führen.</p>
                                <p>(Anm: Patienten, die bestimmte Medikamente regelmäßig einnehmen müssen, verfügen i.d.R. über  durchschnittlich mehrwöchige Vorräte im eigenen Haushalt. Trotzdem können die akute Verschlechterung der Gesundheit und neu auftretende Erkrankungen etc. bei Versorgungsengpässen zu Behandlungsmängeln bei Patienten führen).</p>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td><h4><small>Szenario 7.</small>Einschränkungen in der Medikamentenversorgung auf Grund von <strong>Verunreinigungen eines Basisrohstoffs</strong> durch kriminellen Akt</h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Wirkstoffe und Hilfsstoffe zur Produktion von Arzneimitteln</strong></p>
                                <p>Ein basaler Arzneimittelrohstoff, der für eine Vielzahl von Medikamenten benötigt und von mehreren konkurrierenden Anbietern vermarktet wird, erleidet durch einen kriminellen Akt einen gravierenden Qualitätsmangel (oder einen Gifteintrag). Dieser Qualitätsmangel wird nicht unmittelbar bemerkt, so daß von dem betroffenen Hersteller größere Mengen bereits an mehrere Arzneimittelhersteller ausgeliefert wurden.</p>
                                <p>(Anm: Trotz umfassender Sicherheitsvorgaben ist die Arzneimittelproduktion nicht grundsätzlich vor Einflüssen durch Straftaten oder terroristische Aktivitäten geschützt. Die Risiken sind durch aufwendig kontrollierte Produktionsbedingungen und laufende Qualitätskontrollen geringer, als z.B. bei Lebensmitteln, dennoch sind die Produktionsabläufe sowohl auf Ebene der Zulieferer, als auch der Arzneimittelhersteller verwundbar. Infrage kommen u.a. Erpressungsversuche, weltanschaulich motivierte Straftaten, Racheakte, Sabotage oder Terrosrismus. Je „früher“ der schädliche Einfluß in den Produktionsabläufen erfolgt, desto größer ist die Breitenwirkung auf eine größere Zahl von Präparaten).</p>
                                <p><strong>Arzneimittel-Produktion</strong></p>
                                <p>Nach Bemerken des Qualitätsmangels (oder des Gifteintrags) leiten die Abnehmer des Rohstoffs einen umgehenden Rückruf der Arzneimittel ein und stoppen die Produktion in allen Prozessen, in die der Rohstoff eingeht. Durch die Chargenrückverfolgung kann ein Teil der betroffenen Medikamente noch auf der Ebene des Handels abgefangen werden, es sind jedoch relevante Mengen bereits zu den Patienten gelangt und wurden teilweise verbraucht. Ein bundesweiter Rückruf nach AMG wird durch umgehende öffentliche Information der Patienten durch die Medien unterstützt.</p>
                                <p>(Anm: Im Falle technisch besonders problematischer Verunreinigungen, die schlecht aus den Verarbeitungsprozessen zu entfernen sind und umfassende Reinigungs- oder Dekontaminierungsmaßnahmen erfordern, kann es bei den betroffenen Herstellern und Verarbeitern zu mehrwöchigen Produktionsunterbrechungen kommen).</p>
                                <p>Die Unterproduktion oder der Ausfall der betroffenen Medikamente führt zu einer Versorgungslücke, der teilweise mit einem Wechsel auf andere, vergleichbare Medikamente anderer Hersteller begegnet wird. Die erforderliche Medikationsumstellung kann bei Dauertherapie zu einer zumindest zeitweiligen Verschlechterung des Behandlungsergebnisses führen.</p>
                                <p><strong>Vertrauen in die Versorgungsfunktion der Pharma Supply Chain</strong></p>
                                <p>Durch die kriminelle Handlung und dadurch, daß mehrere Hersteller oder eine bestimmte Arzneimittelklasse betroffen sein können, entsteht ein dramatischer, grundsätzlicher Vertrauensverlust in die Sicherheit der MVK, der über die betroffenen Chargen hinauswirkt und auch langfristige Verhaltensänderungen bei der Medikamentenverordnung bei den Ärzten und Patienten auslösen kann.</p>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td><h4><small>Szenario 8.</small>Produktionsausfälle patentgeschützter sowie generischer Medikamente durch <strong>instabile makroökonomische Rahmenbedingungen</strong></h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Ökonomische Rahmenbedingungen</strong></p>
                                <p>Erhebliche Störungen des Warenverkehrs aufgrund einer zunehmenden Instabilität des makroökonomischen Umfeldes, haben v.a. in Ländern, die kurz vor der Insolvenz stehen zur Einstellung der Zahlungen und in der Folge zu Lieferengpässen insbesondere von exklusiven, patentgeschützten aber auch zunehmend von generischen Medikamenten geführt. Die Medikamentenabgabe an die Bevölkerung ist eingeschränkt.</p>
                                <p>(Anm: Ein Beispiel ist die Situation in Griechenland. Dorthin haben führende Pharmahersteller ihre Lieferungen im Verlauf der Finanzkrise eingestellt, da keinerlei Zahlungen mehr geleistet wurden oder erwartet werden konnten. Lokale Distributoren mußten ebenfalls per Dekret 20% der vom Staat geschuldeten Beträge abschreiben und außerdem einen Zahlungsaufschub der restlichen 80% von bis zu 5 Jahren in Kauf nehmen.)</p>
                                <p><strong>Grundversorgung mit betrieblichen Ressourcen und Verlust des Vertrauens</strong></p>
                                <p>Störungen in der lokalen Arzneimitteldistribution in einigen Regionen, u.a. durch den Ausfall betrieblicher Ressourcen, verschlechtern die Versorgungslage weiter. Dies dringt zunehmend in das Bewusstsein der Konsumenten, was zu einem Vertrauensverlust in die Medikamentenversorgung führt. Zwar gibt es bei den chronisch Kranken (noch) keinen erhöhten Bedarf, wohl aber sind Medikamente für die im weitesten Sinne Stressbekämpfung deutlich mehr gefragt. Insbesondere an Psychopharmaka herrscht erhöhter Bedarf.</p>
                                <p>(Anm: Nur die Tatsache, daß weitere Störfaktoren, wie z.B. schwere Wetterereignisse bisher keine Rolle spielen, verhindert eine noch dramatischere, sprunghafte Verschlechterung der Versorgungslage. Dies könnte andernfalls zu einer rascheren Verstärkung der Einschränkungen in der Medikamentenversorgung beitragen und so zu einem Selbstverstärkungsprozess der vorliegenden negativen Risikofaktoren führen.</p>
                                <p><strong>Gesundheitsausgaben</strong></p>
                                <p>Nachdem die kurzfristigen Auswirkungen der mangelnden Versorgung mit relevanten Medikamenten noch aus Lagerbeständen und Bezug aus weniger betroffenen Ländern kompensiert werden konnte, kommt es zu einer deutlichen Verschlechterung der Behandlung in den betroffenen Patientengruppen. Durch Medikationsumstellungen und die bei chronisch Kranken teilweise notwendige stationäre Aufnahme kommt es zu einer finanziellen Mehrbelastung der gesetzlichen Krankenversicherungen (GKV).</p>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td><h4><small>Szenario 9.</small>Angebotsrückgang patentgeschützter Medikamente durch <strong>fehlende Erstattungsfähigkeit</strong></h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Gesundheitsausgaben</strong></p>
                                <p>Exklusive, patentgeschützte Medikamente für lebensbedrohliche Erkrankungen haben die Budgets der Kostenträger im Gesundheitswesen über die Grenzen hinaus beansprucht. Die Medikamentenabgabe an die Bevölkerung ist zunehmend eingeschränkt bzw. erfordert einen immer höheren Eigenanteil der Patienten. Die Hersteller der entsprechenden Medikamente haben zwar mit (Zwangs)Rabatten reagiert, sehen sich aber gleichzeitig dem wachsendem Druck seitens der Investoren und Aktionäre, aber auch rein finanztechnischen Zwängen gegenüber. Weitere Preissenkungen und Rabatte sind ausgeschlossen.</p>
                                <p><strong>Politische Rahmenbedingungen</strong></p>
                                <p>Auf der anderen Seite sehen sich die Regierung(en) und Gesundheitsprovider einem erhöhten Druck der Öffentlichkeit (Medien, Patienten, Wähler…) ausgesetzt. Zunehmend werden ansteigende massive lokale Protestaktionen durch die Medien und sozialen Netzwerken thematisiert und überproportional verstärkt.</p>
                                <p>(Anm: Beispiel Brasilien: Die teure und mittlerweile chronische Therapie von HIV-Infektionen hat die Budgets der Kostenträger weit überschritten. Ein gerechter Zugang für alle betroffenen Patienten ist nicht mehr gewährleistet. Die Produktion der Medikamente wäre an sich kein Problem, doch hohe Lizenzgebühren verhindern dies. Die Regierung hat vor diesem Hintergrund Schlüsselpatente für das Land außer Kraft gesetzt.)</p>
                                <p><strong>Gesetzliche Rahmenbedingungen</strong></p>
                                <p>Instabilitäten bei den gesetzlichen Rahmenbedingungen, d.h. rasch aufeinanderfolgende und immer aggressivere Eingriffe ins Patent- und Eigentumsrecht, die per Gesetz durchgesetzt werden, erschweren auch ein konzertiertes Handeln der Akteure der Pharma Supply Chain zur Aufrechterhaltung der Versorgung mit den betroffenen Medikamenten. Die Produktion bzw. Auslieferung werden praktisch gegen null gefahren.</p>
                                <p><strong>Grundversorgung mit betrieblichen Ressourcen führen zu Beeinträchtigung beim Transport von Arzneimitteln</strong></p>
                                <p>Störungen in der lokalen Arzneimitteldistribution in einigen Regionen, u.a. durch den Ausfall betrieblicher Ressourcen, verschlechtern die Versorgungslage weiter, zunehmend auch in der Fläche.</p>
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <div class="text-center">
                        <img src="/content/images/abb5.png" alt="Kritikalität und wesentliche Ursachen der Störungen" />
                        <h4>Kritikalität und wesentliche Ursachen der Störungen</h4>
                    </div>
                </div>
                <div id="auswirkungen" class="tab-pane fade">
                    <p>Abbildung unten zeigt die referenzierte Prozesse der Medikamentenversorgungskette.</p>
                    <p class="text-center">
                        <img src="/content/images/abb6a.png" alt="Referenzprozess der MVK" />
                    </p>
                    <p class="text-center">
                        <a class="btn btn-primary" href="/content/docs/pharma_supplychain_prozess_uebersicht.pdf">Abbildung als PDF...</a>
                    </p>
                    <hr />
                    <p>Die Abbildung zeigt die Auswirkungen der Bedrohungsszenarien auf die Prozesse der Medikamentenversorgungskette</p>
                    <p class="text-center">
                        <img src="/content/images/abb7a.png" alt="Auswirkungen auf die Prozesse der MVK" />
                    </p>
                    <p class="text-center">
                        <a class="btn btn-primary" href="/content/docs/auswirkungen_der_bedrohungsszenarien_v4.pdf">Abbildung als PDF...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


