@{
    ViewBag.Title = "Safety-Risk Map";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#vorgehen" data-toggle="tab">Methodisches Vorgehen</a></li>
                <li><a href="#szenarien" data-toggle="tab">Bedrohungsszenarien</a></li>
                <li><a href="#auswirkungen" data-toggle="tab">Auswirkungen auf die Prozesse der MVK</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="vorgehen">
                    <p>Zur Identifikation und Bewertung von Bedrohungsszenarien der MVK werden vier methodische Schritte kombiniert (siehe Abbildung unten):</p>
                    <ol>
                        <li>Eine Aufnahme der Ist-Situation der Prozesse innerhalb der Unternehmen und zwischen den Akteuren der MVK zur Ableitung der wesentlichen Einflussfaktoren (sog. Deskriptoren) der Versorgungsfunktion.</li>
                        <li>Eine Cross-Impact Bilanzanalyse (CIB) zur Erstellung konsistenter Szenarien.</li>
                        <li>Die Identifikation grundlegender Trends, welche die MVK, die pharmazeutische Industrie und die Gesundheitsversorgung im Ganzen beeinflussen.</li>
                        <li>Ein Gruppen-Delphi zur Abschätzung der Bewertung der externen Bedrohungen hinsichtlich Eintrittswahrscheinlichkeiten und Schadensausmaß.</li>
                    </ol>
                    <hr />
                    <div class="text-center">
                        <img src="/content/images/abb4.png" alt="Methodische Schritte zur Identifikation von Bedrohungsszenarien der Medikamentenversorgungskette" />
                        <h4>Methodische Schritte zur Identifikation von Bedrohungsszenarien der Medikamentenversorgungskette</h4>
                    </div>
                    <hr />
                    <p>Die Ergebnisse der vier methodischen Schritte werden anschließend zu einer detaillierten Beschreibung möglicher Bedrohungsszenarien genutzt. Den Abschluss bildet eine Überprüfung der Plausibilität der Bedrohungsszenarien durch das Projektkonsortium.</p>
                    <p>
                        Weitere Details zu den methodischen Schritten zur Erstellung der Bedrohungsszenarien in SafeMed erhalten Sie über das IPRI Praxis Paper Nr.2: <strong>Aschenbrücker, A.; Löscher, M. (2013)</strong>, "Szenario-gestützte Identifikation von externer Bedrohungspotenzialen in der Medikamentenversorgungskette", IPRI-Praxis Nr. 2, Stuttgart. Siehe <a href="http://www.ipri-institute.com/index.php/wissen-verbreiten/ipri-praxis">http://www.ipri-institute.com/index.php/wissen-verbreiten/ipri-praxis</a>
                    </p>
                </div>
                <div class="tab-pane fade" id="szenarien">
                    <p>
                        Die folgenden Bedrohungsszenarien (Tabelle 1) wurden in SafeMed entwickelt um beispielhaft Störungen der Versorgungsfunktion der Medikamentenversorgungskette darzustellen und auf Basis dessen adäquate Gegenmaßnahmen (Safety-Concepts) zu entwerfen.
                    </p>
                    <hr />
                    <div class="text-center"><h5>Tabelle 1: Die neun beispielhaften Bedrohungsszenarien in SafeMed</h5></div>
                    <table class="table table-bordered">
                        <tr class="danger">
                            <td><h4><small>Szenario 1.</small> Produktionsausfälle patentgeschützter Medikamente <strong>durch Fehlen / Knappheit exklusiver Wirkstoffe</strong></h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Gesetzliche Rahmenbedingungen führen zu mangelhafter Wirkstoffverfügbarkeit</strong></p>
                                <p>Instabilitäten bei den gesetzlichen Rahmenbedingungen führen zu einem Ausfall der Verfügbarkeit exklusiver Wirkstoffe. Aufgrund dieser Störungen in der Supply Chain ist die Aufrechterhaltung der Versorgung mit den betroffenen Medikamenten nicht möglich; wenn dies auch nur punktuell, wenige Präparate betrifft. Instabilitäten der gesetzlichen Rahmenbedingungen sind für dieses Szenario wesentliche Ursache des Verfügbarkeit-Problems.</p>
                                <p>(Anm: Eine mögliche Ursache für Instabilität im Öffentlichen Sektor wären unerwartete Gesetzesänderung auf internationaler Ebene, die im Sinne der globalen Supply Chain Auswirkungen auf Produktion oder Distribution haben können. Ein anderes Beispiel wären Auswirkungen aus der anstehenden EU-weiten Revision der Good Distribution Practice (GDP)).</p>
                                <p><strong>Politische Rahmenbedingungen verursachen Störungen der Grundversorgung mit betrieblichen Ressourcen (außer Faktor Arbeit)</strong></p>
                                <p>Durch den Ausfall betrieblicher Ressourcen, z.B. durch Probleme bei Energieimporten wegen Veränderungen der politischen Rahmenbedingungen, kommt es zu einer weiteren Beeinträchtigung der Arzneimittel-Produktion.</p>
                                <p><strong>Ausfall der Arzneimittel-Produktion</strong></p>
                                <p>Durch kombinierten Ausfall der Wirkstofflieferungen und der betrieblichen Ressourcen  kommt es zu erheblichen Störungen bei der Produktion von exklusiven, patentgeschützten Medikamenten. Dies führt zu einem Ausfall / einer Verknappung der Medikamentenverfügbarkeit, die sich bis auf die Ebene der Medikamentenabgabe an die Bevölkerung auswirkt.</p>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td><h4><small>Szenario 2.</small> Drastische Einschränkung der Produktion patentgeschützter Medikamente durch<strong> schwerwiegende Naturereignisse</strong></h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Wetter-/Naturbedingte Einflüsse führen zu Beeinträchtigung der Arzneimittel-Produktion</strong></p>
                                <p>Schwerwiegende Wetterereignisse oder Naturkatastrophen haben zu erheblichen Störungen in der Supply Chain und der Produktion v.a. von patentgeschützten Medikamenten geführt. In Verbindung mit weiteren wetter- oder naturbedingten Störungen ist die Distribution an die Endverbraucher stark beeinträchtigt.</p>
                                <p>(Anm: Es kommt zwar nicht zu einem Totalausfall von Komponenten in der Supply Chain, wie in den Szenarien 1 und 2, aber aufgrund bestehender Herstellerexklusivität zumindest zur Verknappung. Gründe wären das längere Andauern von gravierenden Naturereignissen, die die Produktion der exklusiven Stoffe oder deren bedarfsgerechten Transport stoppen oder deutlich behindern. Ein Beispiel dafür können geographische Großereignisse, wie Vulkanausbrüche oder Überflutungen sein.)</p>
                                <p><strong>Wetter-/Naturbedingte Einflüsse führen zu Beeinträchtigung Arzneimittel-/Wirk- und Hilfsstoff-Transport</strong></p>
                                <p>Störungen in der lokalen oder überregionalen Verteilung von Arzneimitteln an die Konsumenten verschärfen die zumindest für bestimmte einzelne Medikamente bereits angespannte Versorgungslage noch zusätzlich. Diese naturbedingten Verwerfungen in der Versorgung betreffen nicht nur den Bereich Arzneimittel sondern auch andere Güter. Dadurch dringt der Mangel rascher ins öffentliche Bewusstsein und das Vertrauen in die medizinische Versorgungssicherheit wird erkennbar geschmälert, auch wenn noch keine Verhaltensänderungen und Nachfragesprünge zu verzeichnen sind.</p>
                                <p>(Anm: Hier stehen Wetterereignisse im Vordergrund. Lokale Ereignisse, wie Überschwemmungen oder andere, die Fahrzeug-gebundene Transportinfrastruktur beeinträchtigende Katastrophen entwickeln schon nach kurzer Zeit erhebliche Auswirkungen auf den regionalen Versorgungsraum, die durch Verlagerung von Transportwegen ggf. nicht wirksam ausgeglichen werden können. Ereignisse im Ausland sind im Bezug auf den Transport zum Verbraucher eher von geringerer Relevanz.)</p>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td><h4><small>Szenario 3.</small> Zusammenbruch der MVK durch <strong>unerwartete Epidemie</strong> und schwere Wetterereignisse</h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Bedarf nach Medikamenten</strong></p>
                                <p>Eine unerwartete epidemische Ausbreitung einer Infektionskrankheit führt zu einem sprunghaften Anstieg des Bedarfs an (Anti-Infektiva und) Impfstoffen. Dem massiven Nachfrageanstieg sind die einfach mobilisierbaren Reserven in der MVK nicht gewachsen. Es kommt zu einer beginnenden Verknappung und ersten Versorgungsausfällen.</p>
                                <p>(Anm: Typische Gründe wären unerwartete Veränderungen im Erregerprofil der saisonalen Grippe mit höherer Virulenz und Morbidität / Mortalität oder neuartige Erreger, für die ggf nur begrenzt Impstoffe einzelner oder weniger Exklusivanbieter zur Verfügung stehen, Beispiel „Schweinegrippe“.)</p>
                                <p><strong>Arzneimittel-Produktion durch fehlende Zusatzstoffe beeinträchtigt</strong></p>
                                <p>Dem Nachfrageanstieg steht zusätzlich eine Einschränkung der Produktion des gefragten Impfstoffes bei einem oder wenigen exklusiven Arzneimittelherstellern gegenüber. Sie können sowohl patentgeschützte Präparate betreffen, als auch Generika. Auslösende Faktoren der Produktionsrückstände sind der Mangel an notwendigen, exklusiven Inhalts- und Zusatzstoffen.</p>
                                <p><strong>Wetter-/Naturbedingte Einflüsse beeinträchtigen Arzneimitteltransport</strong></p>
                                <p>Zusätzlich erschwerend wirken in einigen Regionen lokale Schlechtwetterepisoden auf die Transportkette zu den Handelsstufen und zum Endverbraucher ein. Dadurch kommt es zu Verteilungsdefiziten, die die dringende und zeitgerechte Versorgung der Bevölkerung mit Impfstoffen (oder Anti-Infektiva) unmöglich machen.</p>
                                <p>(Anm: Dabei kann es sich um schwerwiegende Natur- oder Wetterereignisse verschiedener Art handeln, z.B. Verkehrs- und Versorgungsbehinderungen durch massive Wintereinbrüche.)</p>
                                <p><strong>Vertrauen in die Versorgungsfunktion der Pharma Supply Chain</strong></p>
                                <p>Aufgrund der akuten Bedrohungslage durch die Infektionsepidemie sind die vorhandenen Reserven an Präparaten jedoch bald angegriffen. Dies wird in der Öffentlichkeit rasch bemerkt und führt zu zusätzlichen Nachfrageanstieg durch Vertrauensverlust in die Zuverlässigkeit der Versorgung. Die wetterbedingten Unregelmäßigkeiten in der MVK erschweren die Abarbeitung geordneter Impfpläne nach Prioritäten.</p>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td><h4><small>Szenario 4.</small>Unterproduktion durch <strong>Verknappung</strong> eines speziellen <strong>Naturrohstoffs</strong> auf Grund <strong>geopolitischer Verwerfungen</strong></h4></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Bedarf nach Medikamenten steigt sprunghaft an</strong></p>
                                <p>Eine unerwartete epidemische Ausbreitung einer Infektionskrankheit führt zu einem sprunghaften Anstieg des Bedarfs an Anti-Infektiva (und / oder Impfstoffen). Dem massiven Nachfrageanstieg sind die einfach mobilisierbaren Reserven in der MVK nicht gewachsen. Es kommt zu einer beginnenden Verknappung und ersten Versorgungsausfällen.</p>
                                <p>(Anm: Typische Gründe wären saisonale Bedarfssprünge, z.B. bei jahreszeitlicher Häufung bestimmter Infektionskrankheiten).</p>
                                <p><strong>Ungünstige politische Rahmenbedingungen führen zu fehlenden Wirk- und Hilfsstoffen zur Produktion von Arzneimitteln</strong></p>
                                <p>Ein spezieller Arzneimittelrohstoff wird fast ausschließlich in einer geographischen Region gewonnen, die eine geringere politisch-ökonomische Stabilität aufweist, als in europäischen Staaten. Geopolitische oder wirtschaftliche Veränderungen führen zu einer kurzfristigen Veränderung der Importmöglichkeiten für einen exklusiven europäischen Hersteller.</p>
                                <p>(Anm: Für eine Reihe innovativer Wirkstoffe werden pflanzliche oder tierische Rohstoffe benötigt, die nur in einzelnen geographischen Regionen gewonnen werden können. Wenn diese aus Ländern mit geringerer politischer oder wirtschaftlicher Stabilität kommen, können auch kurzfristig Lieferengpässe auftreten, die ggf. nur schwer überbrückbar sind).</p>
                                <p>Die Einschränkung der Produktion des betreffenden Medikamentes betrifft in diesem Szenario patentgeschützte Präparate. Auslösende Faktoren der Produktionsrückstände sind der Mangel an notwendigen, exklusiven Wirk- und Hilfsstoffen.</p>
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <div class="text-center">
                        <img src="/content/images/abb5.png" alt="Kritikalität und wesentliche Ursachen der Störungen" />
                        <h4>Kritikalität und wesentliche Ursachen der Störungen</h4>
                    </div>
                </div>
                <div id="auswirkungen" class="tab-pane fade">
                    <p>Abbildung unten zeigt die referenzierte Prozesse der Medikamentenversorgungskette.</p>
                    <p class="text-center">
                        <img src="/content/images/abb6a.png" alt="Referenzprozess der MVK" />
                    </p>
                    <p class="text-center">
                        <a class="btn btn-primary" href="/content/docs/pharma_supplychain_prozess_uebersicht.pdf">Abbildung als PDF...</a>
                    </p>
                    <hr />
                    <p>Die Abbildung zeigt die Auswirkungen der Bedrohungsszenarien auf die Prozesse der Medikamentenversorgungskette</p>
                    <p class="text-center">
                        <img src="/content/images/abb7a.png" alt="Auswirkungen auf die Prozesse der MVK" />
                    </p>
                    <p class="text-center">
                        <a class="btn btn-primary" href="/content/docs/auswirkungen_der_bedrohungsszenarien_v4.pdf">Abbildung als PDF...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


