@{
    ViewBag.Title = "Safety-Evaluation";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Arzneimittelhersteller, wie alle anderen Unternehmen auch, stehen vor der Herausforderung, ihre langfristige Existenz, durch ein geeignetes Risikomanagement zu. Allerdings muss das Risikomanagement wirtschaftlichen Kriterien gerecht werden. Eine Ergreifung von Maßnahmen der Risikobewältigung gegenüber allen erdenklichen Bedrohungen würde unter Umständen die Gefahr von Versorgungsengpässen verringern. Die hierzu notwendigen Kosten würden aber auch die Wettbewerbsfähigkeit des Arzneimittelherstellers nachhaltig schwächen und ggf. langfristig Lieferausfälle aufgrund von Unternehmensaufgaben provozieren.</p>
            <p>Grundvoraussetzung für eine wirtschaftliche Sicherstellung der Arzneimittelversorgung ist die Bewertung von Risiken und möglicher Strategien der Risikobewältigung. Neben der oftmals nur subjektiv möglichen Abschätzung der Eintrittswahrscheinlichkeit eines Risikos, sind auch dessen Schadensausmaß, höchst unsicher. Bestehende Ansätze der quantitativen Bewertung von Risiko-Wirkungen fokussieren zudem die monetär-bewertbare Größen und lassen nicht-quantifizierbare und nicht monetär-bewertbare Auswirkungen außen vor.</p>
            <p>Im Folgenden wird eine Methodik der Bewertung des Schadensausmaßes vorgestellt, welche sowohl die Unsicherheiten in den Risiko-Wirkungen berücksichtigt, als auch die Betrachtung nicht-quantitativer und nicht monetär-bewertbarer Größen integriert. Die Vorstellung erfolgt exemplarisch anhand der Bewertung des Risikos eines Ausfalls in der Produktion eines chemisch hergestellten Wirkstoffes für ein Klinikprodukt und einer möglichen Sicherungsmaßnahme.</p>
            <p>Das prinzipielle Vorgehen gliedert sich in fünf Schritte:</p>
            <ol>
                <li>Erarbeitung einer Risk-Evaluation Map</li>
                <li>Definition von Kennzahlen</li>
                <li>Quantifizierung der Ursache-Wirkungsbeziehungen der Risk-Evaluation Map mittels Monte-Carlo-Simulation (Ist-Zustand)</li>
                <li>Ableitung von Veränderungen des Ist-Zustandes aufgrund von Sicherungsmaßnahmen (Soll-Zustand)</li>
                <li>Vergleich der Kosten der Sicherungsmaßnahme mit der Veränderung der quantifizierten Ursache-Wirkungsbeziehungen zwischen Ist- und Soll-Zustand</li>
            </ol>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Erarbeitung</a></li>
                <li><a href="#tab2" data-toggle="tab">Definition</a></li>
                <li><a href="#tab3" data-toggle="tab">Quantifizierung</a></li>
                <li><a href="#tab4" data-toggle="tab">Ableitung</a></li>
                <li><a href="#tab5" data-toggle="tab">Vergleich</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    <h2>Erarbeitung einer Risk-Evaluation Map</h2>
                    <p>In einem ersten Schritt müssen die Risiko-Wirkungen des zu bewertenden Risiko-Ereignisses auf die Unternehmensfaktoren auf qualitativer Basis identifiziert werden. Risiko-Wirkungen können sowohl die internen Unternehmensprozesse als auch die Beziehungen zu Kunden, Lieferanten und Wettbewerbern betreffen. Auch ist es erforderlich, dass die Kausalbeziehungen zwischen unterschiedlichen Risiko-Wirkungen berücksichtigt werden. Ergebnis dessen ist eine Risk-Evaluation-Map, welche qualitativ alle Risiko-Wirkungen des Risiko-Ereignisses und deren Kausalbeziehungen darstellt.</p>
                    <p>Ausgangpunkt hierfür sind die im Rahmen des Projektes „SafeMed“ erarbeiteten Prozessketten, welche die internen Abläufe der Akteure der Medikamentenversorgungskette wiedergeben. Hierbei werden neben monetär-bewertbaren auch nicht-monetär-bewertbare und nicht-quantifizierbare Risiko-Wirkungen integriert.</p>
                    <p class="text-center">
                        <img src="/content/images/abb6.png" title="Risk-Evaluation Map eines Ausfalls der Wirkstoffproduktion" />
                    </p>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <h2>Definition von Kennzahlen</h2>
                    <p>Für jede Risiko-Wirkung werden im zweiten Schritt Kennzahlen ausgewählt, welche die Wirkung des Risiko-Eintritts widerspiegeln. Hierbei sind zum einen Kennzahlen zu berücksichtigen, welche Wirkungen beschreiben die erst durch das Risiko entstehen. Ein Beispiel sind spezifische Kosten, welche aufgrund des Risiko-Eintritts anfallen. Zum anderen ist es erforderlich mögliche Veränderungen im Unternehmen und den relevanten Unternehmensfaktoren aufgrund des Risiko-Eintritts abzubilden. Dies kann beispielsweise ein Rückgang der Kundenzufriedenheit oder ein Einbruch in den Produktionsmengen sein.</p>
                    <p>Risiko-Wirkungen können entweder direkt geschätzt (z.B. die Herstellkosten einer nicht brauchbaren Charge) oder auf Basis von Ursache-Wirkungsbeziehungen mit vorgelagerten Stufen errechnet werden (die Dauer einer Lieferunfähigkeit ergibt sich aus der Dauer der Neuproduktion abzgl. der Lagerreichweite). Auch ist es erforderlich, zur Berechnung einer Risiko-Wirkung neben vorgelagerten Wirkungen u.U. auch unabhängige Kennzahlen zu verwenden (z.B. ist zur Berechnung versäumter Umsatzerlöse einer Lieferunfähigkeit neben der Dauer auch der durchschnittliche Umsatz für eine vergleichbare Zeitspanne erforderlich).</p>
                    <p>Abschließend werden alle Risiko-Wirkungen in eine aggregierten Spitzenkennzahl (oder aggregierte Risikowirkung) überführt. Diese dient als Analysemaßstab, um das Risiko mit Hilfe gängiger Risikomaße (Mittelwert, Perzentile, Value-at-Risk) zu beschreiben.</p>
                    <p>Aufgrund des Ausfalls in der Wirkstoffproduktion kann die Produktion des Arzneimittels. Für welche der Wirkstoff gedacht war, nicht durchgeführt werden. Um die Risiko-Wirkung <strong>Ausfall der Arzneimittelproduktion</strong> (als Dauer in Wochen) beschreiben zu können sind vier Kennzahlen erforderlich, welche hierauf einen Einfluss ausüben:</p>
                    <p class="text-center">
                        <img src="/content/images/tbl4.png" title="Kennzahlen zur Beschreibung des Risikos eines Ausfalls in der Wirkstoffproduktion" />
                    </p>
                    <p>Unabhängige Kennzahlen sind dadurch gekennzeichnet, dass Sie sich nicht unmittelbar aus dem Risiko-Ereignis abgeleitet werden.</p>
                    <p class="text-center">
                        <img src="/content/images/abb7.png" title="Konkretisierung der Risk-Evaluation Map mittels Kennzahlen" />
                    </p>
                </div>
                <div class="tab-pane fade" id="tab3">
                    <h2>Quantifizierung der Ursache-Wirkungsbeziehungen der Risk-Evaluation Map mittels Monte-Carlo-Simulation (Ist-Zustand)</h2>
                    <p>Da im Fokus der hier vorgestellten Methodik zur Bewertung von Risiken hypothetische Wirkungen auf Unternehmensprozesse stehen, sind diese per se mit Unsicherheit behaftet. Daher werden für alle risikobehafteten Größen Verteilungsfunktionen an Stelle von festen Werten angenommen. Dies erhöht die Objektivität der getroffenen Annahmen da ein gewisses Maß an Unsicherheit in den Schätzungen abgebildet werden kann. Jede geschätzte Kennzahl wird durch eine Verteilungsfunktion beschrieben, die einzelnen Werten eines Intervalls eine Eintrittswahrscheinlichkeit zuordnet.</p>
                    <p>Hierdurch ergeben sich Einzelverteilungen einer jeden geschätzten oder berechneten Risiko-Wirkung. Alle Einzelverteilungen werden mittels Monte-Carlo-Simulation zu einer Gesamtverteilung der Spitzenkennzahl aggregiert. Zu diesem Zweck werden für jede Kennzahl mittels der festgelegten Verteilungen Zufallswerte ermittelt und über die Ursache-Wirkungsbeziehungen bis zur Spitzenkennzahl aggregiert. Der sich ergebende Wert wird zwischengespeichert. Durch hinreichend häufiges Durchlaufen der Simulation ergibt sich eine Häufigkeitsverteilung der Spitzenkennzahl. Dieses kann zur Analyse des Risikos mit gängigen Risikomaßen genutzt werden.</p>
                    <p class="text-center">
                        <img src="/content/images/abb8.png" title="Darstellung eines Laufs der Monte-Carlo-Simulation inkl. der Verteilungsfunktionen im Ist-Zustand" />
                    </p>
                    <p>Das Ergebnis der Monte-Carlo Simulation ist eine Verteilung der aggregierten Risiko-Wirkung (hier: Kosten des Ausfalls der Wirkstoffproduktion)</p>
                    <ul>
                        <li>Im Mittel wird ein Produktionsausfall von 1 bis 26 Wochen im Schnitt zu Gesamtkosten von 863 T€ führen.</li>
                        <li>Zu 80% werden die Kosten zwischen 346 T€ und 1,36 Mio. € liegen</li>
                        <li>Der Value-at-Risk* liegt bei € 1,46 Mio.</li>
                    </ul>
                    <p class="text-center">
                        <img src="/content/images/abb9.png" title="Quantifizierung der Ursache-Wirkungsbeziehungen" />
                    </p>
                </div>
                <div class="tab-pane fade" id="tab4">
                    <h2>Ableitung von Veränderungen des Ist-Zustandes aufgrund von Sicherungsmaßnahmen (Soll-Zustand)</h2>
                    <ul>
                        <li>Anhand der beschriebenen ersten drei Schritte ist es möglich ein Risiko, hier z.B. das eines Produktionsausfalls, zu bewerten. Die vorgestellte Systematik darüber hinaus zur Bewertung der Eignung von Sicherungsmaßnahmen gegenüber dem betrachteten Risiko erweitert werden. </li>
                        <li>Eine mögliche Sicherungsmaßnahme ist die Erhöhung der Bestände auf allen Stufen der Medikamentenversorgungskette. Hier explizit die Erhöhung der Lagerreichweite des Arzneimittelherstellers.</li>
                        <li>Um diese Sicherungsmaßnahmen bewerten zu können, wird für die Kennzahl, welche durch die Sicherungsmaßnahme beeinflusst wird, ein Soll-Zustand definiert. Hier die Erhöhung der Lagerreichweite des Herstellers um vier Wochen auf minimal 16 und maximal 24 Wochen.</li>
                        <li>Anschließend wird die Quantifizierung der Ursache-Wirkungskette mit dem veränderten Soll-Zustand wiederholt.</li>
                    </ul>
                    <p class="text-center">
                        <img src="/content/images/abb10.png" title="Eingabemaske 'Lagerrecihweite Hersteller'" />
                    </p>
                </div>
                <div class="tab-pane fade" id="tab5">
                    <h2>Vergleich der Kosten der Sicherungsmaßnahme mit der Veränderung zwischen Ist- und Soll-Zustand</h2>
                    <p>Aufgrund der Erhöhung der Lagerreichweite des Herstellers kommt es zu folgenden Veränderungen der Häufigkeitsverteilung der Kosten des Produktionsausfalls</p>
                    <ul>
                        <li>Die mittleren Kosten eines Produktionsausfalls sinken aufgrund der Maßnahme um 21% oder 183T€ von durchschnittlich 862T€ auf durchschnittlich 679T€</li>
                        <li>Der „Value at risk“ sinkt von 1,46 Mio. € auf 1,28 Mio. € (der „Value at risk“ ist der Verlust, der zu 95% nicht überschritten wird).</li>
                    </ul>
                    <p class="text-center">
                        <img src="/content/images/abb11.png" title="Darstellung des 'value at risk'" />
                    </p>
                    <ul>
                        <li>Eine Entscheidung, ob die Einführung der Sicherungsmaßnahmen angemessen erscheint, hängt sowohl von den Konsequenzen des Risikos als auch der Wahrscheinlichkeit des Risikoeintritts ab. Im vorliegenden Fall beschränkte man sich auf die Berechnung der Konsequenzen.</li>
                        <li>Um eine sinnvolle Entscheidung treffen zu können, müssen die Kosten der Sicherungsmaßnahme und die Konsequenzen des Risikos ins Verhältnis zur  Wahrscheinlichkeit des Risikoeintritts gesetzt werden.</li>
                        <li>Die Kosten für eine Erweiterung der Lagerreichweite um 4 Monate wurden im vorliegenden Beispiel folgendermaßen geschätzt:</li>
                        <li>Aus dieser Berechnung kann abgeleitet werden, dass die Sicherungsmaßnahme zur Reduktion der Ausfallkosten um durchschnittlich 183T€ sinnvoll ist, wenn es mit einer Wahrscheinlichkeit von größer als 30% zu einem Ausfall kommen wird.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>