@{
    ViewBag.Title = "Safety-Communication";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Neben der Entwicklung und Bewertung potenzieller Bedrohungsszenarien und dem Erarbeiten geeigneter Gegenmaßnahmen, verfasste das SafeMed Projektkonsortium Kommunikationsstrategien für den Umgang mit Bedrohungen in Bezug auf Medikamentenverknappungen. Diese Kommunikationsstrategien haben mitunter das Ziel, die notwendige Sensibilisierung von und Transparenz zwischen den Teilnehmern der MVK und mit den Patienten zu erreichen. Die Strategien orientieren sich an identifizierten Eskalationsstufen und passen sich der Gegebenheit an.</p>
            <p class="text-center">
                <img src="/content/images/abb14.png" alt="Identifizierte Eskalationsstufen in SafeMed" />
            </p>
            <p>Der Bericht zum SafeMed Kommunikationskonzept <a href="/content/docs/SafeMed_BerichtAP8.pdf">als PDF herunterladen.</a></p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <p>Die grundlegenden Unterschiede der drei Kommunikationsstrategien sind in der Tabelle unten dargestellt.</p>
            <p class="text-center">
                <img src="/content/images/tbl5.png" alt="Dreiteilige Kommunikationsstrategie in SafeMed"/>
            </p>
            <p class="text-center">
                <a class="btn btn-primary" href="/content/docs/SafeMed_KommTableau_v01.pdf">Tabelle als PDF...</a>
            </p>
        </div>
    </div>
</div>