@{
    ViewBag.Title = "Safety-Communication";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Neben der Entwicklung und Bewertung potenzieller Bedrohungsszenarien und dem Erarbeiten geeigneter Gegenmaßnahmen, verfasste das SafeMed Projektkonsortium Kommunikationsstrategien für den Umgang mit Bedrohungen in Bezug auf Medikamentenverknappungen. Diese Kommunikationsstrategien haben mitunter das Ziel, die notwendige Sensibilisierung von und Transparenz zwischen den Teilnehmern der MVK und mit den Patienten zu erreichen. Die Strategien orientieren sich an identifizierten Eskalationsstufen und passen sich der Gegebenheit an.</p>
            <p>Der Bericht zum SafeMed Kommunikationskonzept als Download:</p>
            <p>Die grundlegenden Unterschiede der drei Kommunikationsstrategien sind in der Tabelle unten dargestellt.</p>
        </div>
    </div>
</div>