@{
    ViewBag.Title = "Safety-Concepts";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Safety-Concepts sind präventive und reaktive Sicherungsmaßnahmen, welche im Rahmen des Projektes entwickelt wurden, um spezifischen Problemstellungen zu entgegnen die u.U. eine Störung der Versorgungsfunktion der MVK zur Folge haben. Nach Identifikation und Prüfung von möglichen systemgestalterischen und technischen Sicherungsmaßnahmen auf Basis der Safety-Risks des jeweiligen MVK-Akteurs erfolgte Im Rahmen des Forschungsvorhabens SafeMed eine detaillierte Beschreibung und Kategorisierung der entwickelten Safety-Concepts. Für ausgewählte Safety-Concepts wurde zusätzlich eine Fallstudie durchgeführt.</p>
        </div>
    </div>
</div>

