@using SafetyAdvisor.Models
@model SafetyConceptsViewModel

@{
    ViewBag.Title = "Safety-Concepts";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Safety-Concepts sind präventive und reaktive Sicherungsmaßnahmen, welche im Rahmen des Projektes entwickelt wurden, um spezifischen Problemstellungen zu entgegnen die u.U. eine Störung der Versorgungsfunktion der MVK zur Folge haben. Nach Identifikation und Prüfung von möglichen systemgestalterischen und technischen Sicherungsmaßnahmen auf Basis der Safety-Risks des jeweiligen MVK-Akteurs erfolgte Im Rahmen des Forschungsvorhabens SafeMed eine detaillierte Beschreibung und Kategorisierung der entwickelten Safety-Concepts. Für ausgewählte Safety-Concepts wurde zusätzlich eine Fallstudie durchgeführt.</p>
        </div>
        <hr />
        <div class="col-lg-12 text-center">
            <img src="/content/images/tbl2.png" alt="Tabelle 2: Den Szenarien zugeordnete präventive und reaktive Safety-Concepts" />
            <h4>Tabelle 2: Den Szenarien zugeordnete präventive und reaktive Safety-Concepts</h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#preventive" data-toggle="tab">Präventive Safety-Concepts</a></li>
                <li><a href="#reactive" data-toggle="tab">Reaktive Safety-Concepts</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="preventive">
                    <div class="panel-group" id="accordionPreventive">
                        @Html.DisplayFor(m => m.PreventiveSafetyConcepts, new { ParentId = "accordionPreventive" })
                    </div>
                </div>
                <div class="tab-pane fade" id="reactive">
                    <div class="panel-group" id="accordionReactive">
                        @Html.DisplayFor(m => m.ReactiveSafetyConcepts, new { ParentId = "accordionReactive" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>