@{
    ViewBag.Title = "Projektbeschreibung";
}
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Über <small>das Projekt</small>
            </h1>
            <p>
                Der Sicherheitsberater sensibilisiert den Nutzer für die Problematik der Medikamentenversorgung, indem die im Forschungsvorhaben SafeMed identifizierten Probleme für die entsprechende Warenketten-Stufe aufgezeigt und die erarbeiteten Lösungen als Handlungsempfehlungen anbietet.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="/content/images/abb1.png" alt="Module des SafeMed Sichereitsberaters" />
            <h4>Module des SafeMed Sicherheitsberaters</h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <h2>Projektziele</h2>
            <p>
                <strong>Erstes Arbeitsziel</strong> (wissenschaftliches Ziel) ist die ganzheitliche Identifikation von Sicherheitsrisiken in der Distributions-Wertschöpfungskette der Pharmabranche. Diese Risiken sind im Rahmen einer Risikoklassifizierung mittels aktueller wissenschaftlicher und praxisbewährter Verfahren hinsichtlich ihrer Eintrittswahrscheinlichkeit sowie des Schadenausmaßes zu bewerten. Dafür werden die für die Versorgungsketten relevanten Konzepte der Risikobewertung und -klassifizierung dem Anwendungsgebiet angepasst und die Ergebnisse neuester EU-Studien und -Projekte auf dem Gebiet ins Projekt eingebracht.
            </p>
            <p>
                <strong>Zweites Arbeitsziel</strong> (technisches Ziel) ist die Entwicklung systemgestalterischer und technischer Sicherungsmaßnahmen, welche zum einen der Prävention der Bedrohungssituationen dienen und zum anderen im Schadensfall als Reaktionsmaßnahmen wirken können. Dabei wird die Eignung von organisatorischen Maßnahmen sowie von technischen Lösungen wie modernen Identifikationstechnologien, Verpackungs- und Versiegelungstechniken sowie von chemischen und optischen Verfahren analysiert. Ebenfalls wird überprüft, inwieweit die vorgeschlagenen Maßnahmen selbst Angriffsfläche für etwaige Bedrohungen bieten.
            </p>
            <p>
                <strong>Drittes Arbeitsziel</strong> (wissenschaftliches Ziel) ist die betriebs- und volkswirtschaftliche Kosten-Nutzen-Bewertung der Sicherheitsrisiken sowie der entgegen wirkenden Schutzkonzepte. Dazu werden neben monetären Wirkungen auch die zunächst nicht monetär messbaren Nutzen sowie Chancen und Risiken in die Bewertung integriert. Aus volkswirtschaftlicher Sicht werden neben direkten Kosten, d.h. den tatsächlichen Ausgaben verschiedener Ausgabenträger, auch indirekte Kosten, d.h. der Verlust an Wertschöpfung, betrachtet.
            </p>
            <p>
                Um verschiedenen Anwendern der erarbeiteten Systematik gerecht zu werden, umfasst <strong>das vierte Arbeitsziel</strong> (technisches Ziel) die Zusammenführung der drei vorherigen Ziele in einem vorstrukturierten, dialogorientierten und webbasierten IT-Tool. In diesem „Sicherheitsberater“ werden für einzelne Akteure der Warenkette die unternehmensspezifischen sowie die warenkettenübergreifenden Kosten und Nutzen von Sicherungsmaßnahmen volkswirtschaftlich bzw. betriebswirtschaftlich bewertet und die Ergebnisse übersichtlich dargestellt.
            </p>
            <p>
                <strong>Das fünfte Arbeitsziel</strong> (wissenschaftliches Ziel) beinhaltet die Erarbeitung von Kommunikationsstrategien. Diese werden sowohl als begleitende präventive Maßnahme als auch als Reaktionsstrategie auf einen Krisenfall entwickelt.
            </p>
        </div>
    </div>

</div>