@{
    ViewBag.Title = "Projektbeschreibung";
}
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Über <small>das Projekt SafeMed</small>
            </h1>
            <p>
                Aufgabe und Ziel des Forschungsvorhabens „SafeMed - Systemgestaltung zur wirt-schaftlichen Sicherung der Medikamentenversorgungskette“ war die Untersuchung von externen Bedrohungen, welche die Funktion der Versorgungssicherheit der MVK gefährden können. Dabei sind potentielle Bedrohungssituationen (z.B. Umweltkatastrophen, Treibstoffknappheit, steigende Materialpreise, regulatorische Maßnahme wie Gesetzesänderungen) im Projektfokus, sowie die Entwicklung von geeigneten systemgestalterischen und technischen Sicherungskonzepten, welche die Widerstandsfähigkeit der MVK gegenüber solchen externen Bedrohungen stärken 
            </p>
            <p>
                Es muss gewährleistet werden, dass auch bei unerwarteten Ereignissen, wie z.B. bei zunehmenden schwerwiegenden Wetter- oder Naturereignissen und damit einhergehenden Produktions- oder Distributionsproblemen, bei einem Personalausfall aufgrund von Epidemien oder bei einem unerwarteten signifikanten Nachfrageanstieg eine adäquate Versorgung der Bevölkerung mit Arzneimitteln erfolgt. Die Vorgehensweise des Projektes war dabei angelehnt an die typischen Phasen des Risikomanagement: Risikoidentifikation - Risikobeurteilung – Risikosteuerung
            </p>
            <p>Im Besonderen werden folgende Fragen adressiert:</p>
            <ol>
                <li>Welche Kombination von Einflussfaktoren führt zu Gegebenheiten (Bedrohungsszenarien), die eine Störung der Versorgungsfunktion der MVK herbeiführen können?</li>
                <li>Welche operativen, institutionellen und systemgestalterischen Maßnahmen können ergriffen werden, um eine Störung oder Beeinträchtigung der Versorgungsfunktion der MVK zu verhindern?</li>
                <li>Wie können die potentiellen Risiken und die diesen entgegenstehenden Maßnahmen aus betriebswirtschaftlicher und volkswirtschaftlicher Perspektive bewertet werden?</li>
            </ol>
            <p>
                Zur Beantwortung dieser Forschungsfragen wurde ein interdisziplinäres Projektkonsortium gebildet, das sich im Kern aus drei Forschungsinstituten zusammensetzt. Diese kommen aus den Fachgebieten Betriebswirtschaftslehre mit dem Fokus auf Controlling und Performance Measurement, Volkswirtschaftslehre, insb. Gesundheitsökonomie, und einem Forschungsschwerpunkt zu Risiko- und Innovationsforschung.
            </p>
            <p>
                Als Praxispartner konnten Vertreter aller relevanten Stufen der Medikamenten-versorgungs¬kette sowie zwei Beratungsunternehmen der Pharmabranche gewonnen werden. Unterstützt wurde das Konsortium durch zahlreiche Verbände der Branche
            </p>
            <hr />
            <p class="text-center">
                <img src="/content/images/abb17.png" alt="Das Projektkonsortium des Forschungsprojektes SafeMed" />
            </p>
            <hr />
            <p>
                Wesentliche Empfehlungen von SafeMed hinsichtlich des notwendigen Risikomanagements für die Medikamentenversorgungskette sind im SafeMed Grundsatzpapier zusammengefasst.
            </p>
            <p>
                Das SafeMed Grundsatzpapier <a href="/content/docs/safemed_grundsatzpapier_v17.pdf">als PDF herunterladen</a></p>
        </div>
    </div>
</div>