
@{
    ViewBag.Title = "Konsortium";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               Konsortium <small>des Projekts</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Unternehmen:</h2>
        </div>
    </div>
    
    <hr />

    <div class="row">
        <div class="col-md-3">
            <img src="http://www.sichere-pharmakette.de/images/biosyn.jpg" />
        </div>
        <div class="col-md-9">
            <h3>biosyn Arzneimittel GmbH</h3>
            <p>Schorndorfer Straße 32</p>
            <p>70734 Fellbach</p>
            <br />
            <a href="http://www.biosyn.de">www.biosyn.de</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img src="http://www.sichere-pharmakette.de/images/gs1.png" />
        </div>
        <div class="col-md-9">
            <h3>GS1 Germany GmbH</h3>
            <p>Maarweg 133</p>
            <p>50825 Köln</p>
            <br />
            <a href="http://www.gs1-germany.de">www.gs1-germany.de</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img src="http://www.sichere-pharmakette.de/images/sanicare.jpg" />
        </div>
        <div class="col-md-9">
            <h3>SANICARE-Versandapotheke</h3>
            <p>Grüner Weg 1</p>
            <p>49196 Bad Laer</p>
            <br />
            <a href="http://www.sanicare.de">www.sanicare.de</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img src="http://www.sichere-pharmakette.de/images/transoflex.png" />
        </div>
        <div class="col-md-9">
            <h3>trans-o-flex</h3>
            <h3>Schnell-Lieferdienst GmbH & Co. KG</h3>
            <p>Zentrale Weinheim</p>
            <p>Hertzstraße 10</p>
            <p>69469 Weinheim</p>
            <br />
            <a href="http://www.transoflex.com">www.transoflex.com</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-12">
            <h2>Projektbegleitender Ausschuss:</h2>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img src="http://www.sichere-pharmakette.de/images/bpi.jpg" />
        </div>
        <div class="col-md-9">
            <h3>Bundesverband der Pharmazeutischen Industrie e.V.</h3>
            <h3></h3>
            <p></p>
            <p>Friedrichstraße 148</p>
            <p>10117 Berlin</p>
            <br />
            <a href="http://www.bpi.de">www.bpi.de</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img src="http://www.sichere-pharmakette.de/images/Bvdva.jpg" />
        </div>
        <div class="col-md-9">
            <h3>Bundesverband Deutscher Versandapotheken (BVDVA)</h3>
            <h3></h3>
            <p></p>
            <p>Buchenweg 5</p>
            <p>33165 Lichtenau-Hakenberg</p>
            <br />
            <a href="http://www.bvdva.de">www.bvdva.de</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img style="width: 162px; height: 68px;" src="http://www.sichere-pharmakette.de/images/EU-vri.jpg" />
        </div>
        <div class="col-md-9">
            <h3>European Virtual Institute for Intergrated Risk Management</h3>
            <h3></h3>
            <p></p>
            <p></p>
            <p></p>
            <br />
            <a href="http://www.eu-vri.eu">www.eu-vri.eu</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img style="width: 162px; height: 68px;" src="http://www.sichere-pharmakette.de/images/Marienhospital.jpg" />
        </div>
        <div class="col-md-9">
            <h3>Marienhospital Stuttgart </h3>
            <h3></h3>
            <p></p>
            <p>Böheimstraße 37</p>
            <p>70199 Stuttgart</p>
            <br />
            <a href="http://www.marienhospital-stuttgart.de">www.marienhospital-stuttgart.de</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img style="width: 242px; height: 65px;" src="http://www.sichere-pharmakette.de/images/Novineon.jpg" />
        </div>
        <div class="col-md-9">
            <h3>novineon Healthcare Technology Partners GmbH </h3>
            <h3></h3>
            <p></p>
            <p>Dorfackerstr. 26</p>
            <p>72074 Tübingen</p>
            <br />
            <a href="http://www.novineon.com">www.novineon.com</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img style="width: 236px; height: 68px;" src="http://www.sichere-pharmakette.de/images/Rotebuehl.jpg" />
        </div>
        <div class="col-md-9">
            <h3>Rotebühl-Apotheke</h3>
            <h3></h3>
            <p></p>
            <p>Rotebühlplatz 19</p>
            <p>70178 Stuttgart</p>
            <br />
            <a href="http://www.rotebuehl-apotheke.de">www.rotebuehl-apotheke.de</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img src="http://www.sichere-pharmakette.de/images/vfa.jpg" />
        </div>
        <div class="col-md-9">
            <h3>Verband Forschender Arzneimittelhersteller e.V.</h3>
            <h3></h3>
            <p></p>
            <p>Hausvogteiplatz 13</p>
            <p>10117 Berlin</p>
            <br />
            <a href="http://www.vfa.de">www.vfa.de</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-12">
            <h2>Forschungsinstitute:</h2>
        </div>
    </div>
    
    <hr />

    <div class="row">
        <div class="col-md-3">
            <img style="width: 184px; height: 49px;" src="http://www.sichere-pharmakette.de/images/IPRI_Logo.jpg" />
        </div>
        <div class="col-md-9">
            <h3>IPRI - International Performance Research Institute gemeinnützige GmbH</h3>
            <h3></h3>
            <p></p>
            <p>Königstraße 5</p>
            <p>70173 Stuttgart</p>
            <br />
            <a href="http://www.ipri-institute.com">www.ipri-institute.com</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img style="width: 162px; height: 49px;" src="http://www.sichere-pharmakette.de/images/zirius-logo.jpg" />
        </div>
        <div class="col-md-9">
            <h3>ZIRIUS - Zentrum für interdisziplinäre Risiko-und Innovationsforschung</h3>
            <h3></h3>
            <p></p>
            <p>Seidenstraße 36</p>
            <p>70174 Stuttgart</p>
            <br />
            <a href="http://www.zirius.eu">www.zirius.eu</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img style="width: 162px; height: 68px;" src="http://www.sichere-pharmakette.de/images/TU.jpg" />
        </div>
        <div class="col-md-9">
            <h3>Technische Universität Berlin</h3>
            <h3>Fachgebiet Finanzwissenschaft und Gesundheitsökonomie</h3>
            <p></p>
            <p>Straße des 17.Juni 135</p>
            <p>10623 Berlin</p>
            <br />
            <a href="http://www.finance.tu-berlin.de">www.finance.tu-berlin.de</a>

        </div>
    </div>

</div>

