
@{
    ViewBag.Title = "Konsortium";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               Konsortium <small>des Projekts</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Unternehmen:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="http://placehold.it/200x200" />
        </div>
        <div class="col-md-9">
            <h3>biosyn Arzneimittel GmbH</h3>
            <p>Schorndorfer Straße 32</p>
            <p>70734 Fellbach</p>
            <br />
            <a href="http://www.biosyn.de">www.biosyn.de</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img src="http://placehold.it/200x200" />
        </div>
        <div class="col-md-9">
            <h3>GS1 Germany GmbH</h3>
            <p>Maarweg 133</p>
            <p>50825 Köln</p>
            <br />
            <a href="http://www.gs1-germany.de">www.gs1-germany.de</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img src="http://placehold.it/200x200" />
        </div>
        <div class="col-md-9">
            <h3>SANICARE-Versandapotheke</h3>
            <p>Grüner Weg 1</p>
            <p>49196 Bad Laer</p>
            <br />
            <a href="http://www.sanicare.de">www.sanicare.de</a>

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-3">
            <img src="http://placehold.it/200x200" />
        </div>
        <div class="col-md-9">
            <h3>trans-o-flex</h3>
            <h3>Schnell-Lieferdienst GmbH & Co. KG</h3>
            <p>Zentrale Weinheim</p>
            <p>Hertzstraße 10</p>
            <p>69469 Weinheim</p>
            <br />
            <a href="http://www.transoflex.com">www.transoflex.com</a>

        </div>
    </div>

</div>

